*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6c5ce7, #a363d9);
    font-family: 'Arial', sans-serif;
}

.game-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    h1 {}

    .game-status {}

    .gameboard {
        .cell {}
    }
}

.restart-button {}